name: Pytest

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./tests/requirements_tests.txt

    - name: Docker Build and Push
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker build -t atf-backend-test:v1 .
        echo $DOCKER_TOKEN | docker login -u $DOCKER_USERNAME --password-stdin
        docker tag atf-backend-test:v1 $DOCKER_USERNAME/atf-backend-test:v1
        docker push $DOCKER_USERNAME/atf-backend-test:v1

    - name: Start Kind Cluster
      run : |
        kind create cluster --name aboutthefit-test --config=./tests/workerNodes.yaml

    - name: Apply Kubernetes Manifests
      run: kubectl apply -f ./tests/deployment-test/

    - name: Waiting Time
      run: |
        echo "Waiting for 35 s to ensure pods are running"
        sleep 35s
        echo "Done"

    - name: Check pods status
      run: kubctl get pods

    - name: Port Forward 5000
      run: kubectl port-forward service/api 5000:5000 &

    - name: Wait for Port Forwarding to begin
      run: |
        echo "Waiting 5s for Port-Forwarding to begin"
        sleep 5s
        echo "Done"

    - name: Run tests
      run: python -m pytest --import-mode=append tests/

    # - name: Stop Port Forwarding
    #   run: kill $(lsof -t -i:5000) || true
